{{animated-orphans}}

<div class="min-h-screen min-w-screen bg-grey-darkest">
  <div class="max-w-md mx-auto pt-8">
    <h1 class='text-grey-lightest'>Nested routes</h1>

    {{outlet}}
  </div>
</div>
