<div class="min-h-screen min-w-screen">
  <div class="max-w-lg mx-auto pt-8">
    <p class="text-grey text-sm font-bold">
      Nested routes
    </p>
    <h1 class="mt-1 leading-none">
      Movies
    </h1>

    {{outlet}}
  </div>
</div>
