<div class="w-screen h-screen">

  <div class="max-w-md mx-auto flex flex-wrap px-4 pt-8">

    {{#animated-each this.apps use=this.transition duration=1000 as |app|}}
      <div {{action 'removeApp' app}} class="
        bg-{{app.color}} text-white text-xl font-bold w-32 h-32 mx-2 my-2
        shadow rounded flex items-center justify-center flex-no-shrink
      ">
        {{app.name}}
      </div>
    {{/animated-each}}

  </div>

</div>
