<div class="max-w-md mx-auto mt-8">
  <h1>Between lists</h1>

  <div class="flex mt-4">
    <div class="w-1/2">
      <p class='font-bold mb-4 text-lg text-red'>Red List</p>
      <ul class='list-reset'>
        {{#animated-each this.redList use=this.redTransition as |item|}}
          <li class='my-4'>
            <span class='pr-2'>Item {{item}}</span>
            <button {{action 'moveToBlue' item}} class='bg-blue px-3 py-2 rounded text-white'>
              Move to Blue
            </button>
          </li>
        {{/animated-each}}
      </ul>
    </div>
    <div class="w-1/2">
      <p class='font-bold mb-4 text-lg text-blue'>Blue List</p>
      <ul class='list-reset'>
        {{#animated-each this.blueList use=this.blueTransition as |item|}}
          <li class='my-4'>
            <span class='pr-2'>Item {{item}}</span>
            <button {{action 'moveToRed' item}} class='bg-red px-3 py-2 rounded text-white'>
              Move to Red
            </button>
          </li>
        {{/animated-each}}
      </ul>
    </div>
  </div>
</div>
