<div class="w-screen h-screen bg-teal flex items-center justify-center" {{action 'changeWord'}}>

  <div class="text-white">

    {{#animated-value this.word use=this.transition duration=1000 as |value|}}
      <p class='leading-none inline-block text-5xl font-bold'>
        {{value}}
      </p>
    {{/animated-value}}

  </div>

</div>
