<div class="p-8 max-w-md mx-auto text-center">

  <button {{action 'changeWord'}}
    class='bg-blue text-white rounded shadow px-3 py-2 font-semibold focus:outline-none focus:shadow-outline'
  >
    Change word
  </button>

  <div class="mt-4">
    <p class='text-3xl font-bold leading-normal pt-4 overflow-hidden'>{{this.word}}</p>
  </div>

</div>
