<div class="w-screen h-screen bg-grey-light">

  <div class="pt-8">
    <div class="max-w-sm mx-auto rounded mt-8 p-8 bg-white shadow-lg rounded text-lg overflow-hidden">
      <div class="font-bold text-xl mb-2">Film</div>
      <p>The individual images that make up a film are called frames.</p>
      <button {{action (mut isShowing) (not isShowing)}} class='text-blue hover:text-blue-dark my-4 focus:outline-none'>
        Keep reading
      </button>
      <AnimatedContainer>

        {{#animated-if isShowing use=this.transition}}
          <p>
            In the projection of traditional celluloid films.
            The perception of motion is due to a psychological effect called the phi phenomenon.
          </p>
          <p>Paragraph 2</p>
          <p>Paragraph 3</p>
          <p>Paragraph 4</p>
          <p>Paragraph 5</p>
        {{else}}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        {{/animated-if}}

      </AnimatedContainer>
    </div>
  </div>

</div>
