<div class="mt-8 flex flex-wrap">
  {{#animated-each this.words use=this.transition  finalRemoval=this.appState.didRender initialInsertion=this.appState.didRender as |word|}}
    <div class="w-1/3 px-2 pb-4">
      {{#link-to '8-nested-routes.word' word class='bg-white h-32 text-lg font-bold flex justify-center items-center shadow text-grey-darkest no-underline'}}
        <span>{{word}}</span>
      {{/link-to}}
    </div>
  {{/animated-each}}
</div>
