<div class="mt-8">
  <ul class="list-reset">
    {{#each this.words as |word index|}}
      <li class="px-2 mb-4">
        <AnimatedContainer>
          {{#animated-value
            word
            use=(action this.transition index)
            finalRemoval=this.appState.didRender
            initialInsertion=this.appState.didRender as |value|
          }}
            {{#link-to
              "8-nested-routes.word"
              word
              class="
                inline-block text-2xl font-bold text-blue no-underline
              "
            }}
              {{value}}
            {{/link-to}}
          {{/animated-value}}
        </AnimatedContainer>
      </li>
    {{/each}}
  </ul>
</div>
