<div class="max-w-md mx-auto mt-8">
  <h1>Selected item</h1>

  <div class="flex mt-4">
    <div class="w-1/2">
      <p class='font-bold mb-4 text-lg text-red'>Red List</p>
      <ul class='list-reset'>
        {{#animated-each this.sortedRedList use=this.redTransition as |item|}}
          <li class='my-4'>
            <span class='pr-2'>Item {{item}}</span>
            <button {{action 'select' item}} class='bg-green px-3 py-2 rounded text-white'>
              Select
            </button>
          </li>
        {{/animated-each}}
      </ul>
    </div>
    <div class="w-1/2">
      <p class='font-bold mb-4 text-lg text-green'>Selected item</p>
      {{#animated-value this.selectedItem use=this.selectedTransition as |value|}}
        {{#if value}}
          <p>
            <span class='pr-2'>Item {{value}}</span>
            <button disabled=true class='bg-green px-3 py-2 rounded text-white opacity-50 cursor-default'>
              Select
            </button>
          </p>
        {{else}}
          <p>No item</p>
        {{/if}}
      {{/animated-value}}
    </div>
  </div>
</div>
